<div>
  <h1>Why Angular Forms Example?</h1>
  <p>
    The general problem I have with some of the Stackblitz examples is that they are being clever and sometimes loading everything into the app.component.ts file. This is not a good practice and makes it difficult to understand how to use it in the real world.  In my case, for some reason, I was getting the error `Can't bind to 'formGroup' since it isn't a known property of 'form'..
  </p>
  <p>
    All the Stackoverflow examples I saw indicated that I simply was missing importing the ReactiveFormsModule, which wasn't the case.  I had it imported into both the app module and the module where it was being used.
  </p>
  <p>
    Hopefully, this shows a more realistic example of how to use Angular Forms.
  </p>
</div>
